# compressed files
*.tar
*.gz
*.zip

# model files
*.h5
*.pb
*.pd
*.pth
*.pt
*.ckpt
*.pbtxt
*.onnx
*.xml
*.bin

# tensorflow-models
models

# pretrained model
mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8

src
dst
coco
training
checkpoints
inference_graph